<div class="card mb-3">
  <h2 class="card-header h4">
    Message #<%= message.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Sender</dt>
      <!-- Display sender_id start -->
      <dd>
        <% if @message.sender.present? %>
          <%= link_to message.sender, message.sender %>
        <% end %>
      </dd>
      <!-- Display sender_id end -->

      <dt>Receiver</dt>
      <!-- Display receiver_id start -->
      <dd>
        <% if @message.receiver.present? %>
          <%= link_to message.receiver, message.receiver %>
        <% end %>
      </dd>
      <!-- Display receiver_id end -->

      <dt>Body</dt>
      <!-- Display body start -->
      <dd><%= message.body %></dd>
      <!-- Display body end -->

      <dt>Attachment</dt>
      <!-- Display attachment start -->
      <dd><%= message.attachment %></dd>
      <!-- Display attachment end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back message, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link message start -->
      <div class="col">
        <%= link_to edit_message_url(message), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link message end -->

      <!-- Delete link message start -->
      <div class="col">
        <%= link_to message, method: :delete, data: { confirm: "Do you really want to delete this message?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link message end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(message.updated_at) %> ago
  </div>
</div>
