<%= form_with(model: @photo, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :upload_user_id %>

    <%= f.collection_select :upload_user_id, User.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :agenda_item_id, value: @agenda_item.id %>

  <div class="form-group">
    <%= f.label :photo %>

    <%= f.file_field :photo, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :title %>

    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>

    <%= f.text_field :description, class: "form-control" %>
  </div>

  <%= f.submit "Create photo", class: "btn btn-block btn-outline-secondary" %>
<% end %>
