<% was_validated = comment.errors.any? %>

<%= form_with(model: comment, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% commenter_class = "form-control" %>
    <% commenter_was_invalid = comment.errors.include?(:commenter) %>

    <% if was_validated %>
      <% if commenter_was_invalid %>
        <% commenter_class << " is-invalid" %>
      <% else %>
        <% commenter_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :commenter_id %>
    <%= f.collection_select :commenter_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <% if commenter_was_invalid %>
      <% comment.errors.full_messages_for(:commenter).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% comment_class = "form-control" %>
    <% comment_was_invalid = comment.errors.include?(:comment) %>

    <% if was_validated %>
      <% if comment_was_invalid %>
        <% comment_class << " is-invalid" %>
      <% else %>
        <% comment_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :comment %>
    <%= f.text_field :comment, class: comment_class, placeholder: "Enter comment" %>
    <% if comment_was_invalid %>
      <% comment.errors.full_messages_for(:comment).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% photo_class = "form-control" %>
    <% photo_was_invalid = comment.errors.include?(:photo) %>

    <% if was_validated %>
      <% if photo_was_invalid %>
        <% photo_class << " is-invalid" %>
      <% else %>
        <% photo_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :photo_id %>
    <%= f.collection_select :photo_id, Photo.all, :id, :to_s, {}, class: "form-control" %>
    <% if photo_was_invalid %>
      <% comment.errors.full_messages_for(:photo).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
