<div class="card mb-3">
  <h2 class="card-header h4">
    Group Member #<%= group_member.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Group</dt>
      <dd>
        <% if @group_member.group.present? %>
          <%= link_to group_member.group, group_member.group %>
        <% end %>
      </dd>

      <dt>User</dt>
      <dd>
        <% if @group_member.user.present? %>
          <%= link_to group_member.user, group_member.user %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back group_member, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_group_member_url(group_member), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to group_member, method: :delete, data: { confirm: "Do you really want to delete this group_member?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(group_member.updated_at) %> ago
  </div>
</div>
