<% was_validated = group_member.errors.any? %>

<%= form_with(model: group_member, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for group_id start -->
  <div class="form-group">
    <% group_class = "form-control" %>
    <% group_was_invalid = group_member.errors.include?(:group) %>

    <% if was_validated %>
      <% if group_was_invalid %>
        <% group_class << " is-invalid" %>
      <% else %>
        <% group_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :group_id %>
    <!-- Input for group_id start -->
    <%= f.collection_select :group_id, MessageGroup.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for group_id end -->
    <% if group_was_invalid %>
      <% group_member.errors.full_messages_for(:group).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for group_id end -->
  <!-- Label and input for user_id start -->
  <div class="form-group">
    <% user_class = "form-control" %>
    <% user_was_invalid = group_member.errors.include?(:user) %>

    <% if was_validated %>
      <% if user_was_invalid %>
        <% user_class << " is-invalid" %>
      <% else %>
        <% user_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user_id %>
    <!-- Input for user_id start -->
    <%= f.number_field :user_id, class: user_class, placeholder: "Enter user" %>
    <!-- Input for user_id end -->
    <% if user_was_invalid %>
      <% group_member.errors.full_messages_for(:user).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for user_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
