<!-- Form score start -->
<%= form_with(model: @score, local: true) do |f| %>
<!-- Form score end -->

  <!-- Label and input for family_id start -->
  <!-- Input for family_id start -->
  <%= f.hidden_field :family_id, value: @family.id %>
  <!-- Input for family_id end -->
  <!-- Label and input for family_id end -->

  <!-- Label and input for score start -->
  <div class="form-group">
    <%= f.label :score %>

    <!-- Input for score start -->
    <%= f.text_field :score, class: "form-control" %>
    <!-- Input for score end -->
  </div>
  <!-- Label and input for score end -->

  <!-- Label and input for description start -->
  <div class="form-group">
    <%= f.label :description %>
    <!-- Input for description start -->
    <%= f.text_area :description, rows: "3", class: "form-control" %>
    <!-- Input for description end -->
  </div>
  <!-- Label and input for description end -->

  <%= f.submit "Create score", class: "btn btn-block btn-outline-secondary" %>
<% end %>
