<div class="card mb-3">
  <h2 class="card-header h4">
    Notification #<%= notification.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Creator</dt>
      <!-- Display creator_id start -->
      <dd><%= notification.creator_id %></dd>
      <!-- Display creator_id end -->

      <dt>Title</dt>
      <!-- Display title start -->
      <dd><%= notification.title %></dd>
      <!-- Display title end -->

      <dt>Body</dt>
      <!-- Display body start -->
      <dd><%= notification.body %></dd>
      <!-- Display body end -->

      <dt>Attachment</dt>
      <!-- Display attachment start -->
      <dd><%= notification.attachment %></dd>
      <!-- Display attachment end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back notification, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link notification start -->
      <div class="col">
        <%= link_to edit_notification_url(notification), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link notification end -->

      <!-- Delete link notification start -->
      <div class="col">
        <%= link_to notification, method: :delete, data: { confirm: "Do you really want to delete this notification?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link notification end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(notification.updated_at) %> ago
  </div>
</div>
