<div class="card mb-3">
  <h2 class="card-header h4">
    Notification #<%= notification.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Creator</dt>
      <dd>
        <% if @notification.creator.present? %>
          <%= link_to notification.creator, notification.creator %>
        <% end %>
      </dd>

      <dt>Title</dt>
      <dd><%= notification.title %></dd>

      <dt>Body</dt>
      <dd><%= notification.body %></dd>

      <dt>Attachment</dt>
      <dd><%= notification.attachment %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back notification, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_notification_url(notification), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to notification, method: :delete, data: { confirm: "Do you really want to delete this notification?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(notification.updated_at) %> ago
  </div>
</div>
