<!-- Form message start -->
<%= form_with(model: @message, local: true) do |f| %>
<!-- Form message end -->

  <!-- Label and input for sender_id start -->
  <!-- Input for sender_id start -->
  <%= f.hidden_field :sender_id, value: @user.id %>
  <!-- Input for sender_id end -->
  <!-- Label and input for sender_id end -->

  <!-- Label and input for receiver_id start -->
  <div class="form-group">
    <%= f.label :receiver_id %>

    <!-- Input for receiver_id start -->
    <%= f.text_field :receiver_id, class: "form-control" %>
    <!-- Input for receiver_id end -->
  </div>
  <!-- Label and input for receiver_id end -->

  <!-- Label and input for body start -->
  <div class="form-group">
    <%= f.label :body %>
    <!-- Input for body start -->
    <%= f.text_area :body, rows: "3", class: "form-control" %>
    <!-- Input for body end -->
  </div>
  <!-- Label and input for body end -->

  <!-- Label and input for attachment start -->
  <div class="form-group">
    <%= f.label :attachment %>

    <!-- Input for attachment start -->
    <%= f.text_field :attachment, class: "form-control" %>
    <!-- Input for attachment end -->
  </div>
  <!-- Label and input for attachment end -->

  <%= f.submit "Create message", class: "btn btn-block btn-outline-secondary" %>
<% end %>
