<%= form_with(model: @message, local: true) do |f| %>

  <%= f.hidden_field :sender_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :receiver_id %>

    <%= f.collection_select :receiver_id, MessageGroup.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :attachment %>

    <%= f.text_field :attachment, class: "form-control" %>
  </div>

  <%= f.submit "Create message", class: "btn btn-block btn-outline-secondary" %>
<% end %>
