<!-- Form comment start -->
<%= form_with(model: @comment, local: true) do |f| %>
<!-- Form comment end -->

  <!-- Label and input for commenter_id start -->
  <!-- Input for commenter_id start -->
  <%= f.hidden_field :commenter_id, value: @user.id %>
  <!-- Input for commenter_id end -->
  <!-- Label and input for commenter_id end -->

  <!-- Label and input for comment start -->
  <div class="form-group">
    <%= f.label :comment %>

    <!-- Input for comment start -->
    <%= f.text_field :comment, class: "form-control" %>
    <!-- Input for comment end -->
  </div>
  <!-- Label and input for comment end -->

  <!-- Label and input for photo_id start -->
  <div class="form-group">
    <%= f.label :photo_id %>

    <!-- Input for photo_id start -->
    <%= f.text_field :photo_id, class: "form-control" %>
    <!-- Input for photo_id end -->
  </div>
  <!-- Label and input for photo_id end -->

  <%= f.submit "Create comment", class: "btn btn-block btn-outline-secondary" %>
<% end %>
