<%= form_with(model: @photo, local: true) do |f| %>

  <%= f.hidden_field :upload_user_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :agenda_item_id %>

    <%= f.collection_select :agenda_item_id, AgendaItem.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :photo %>

    <%= f.file_field :photo, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :title %>

    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>

    <%= f.text_field :description, class: "form-control" %>
  </div>

  <%= f.submit "Create photo", class: "btn btn-block btn-outline-secondary" %>
<% end %>
