<%= form_with(model: @group_member, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :group_id %>

    <%= f.collection_select :group_id, MessageGroup.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :user_id, value: @user.id %>

  <%= f.submit "Create group member", class: "btn btn-block btn-outline-secondary" %>
<% end %>
