<%= form_with(model: @notification, local: true) do |f| %>

  <%= f.hidden_field :creator_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :title %>

    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :body %>

    <%= f.text_field :body, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :attachment %>

    <%= f.text_field :attachment, class: "form-control" %>
  </div>

  <%= f.submit "Create notification", class: "btn btn-block btn-outline-secondary" %>
<% end %>
