<div class="card mb-3">
  <h2 class="card-header h4">
    Message Group #<%= message_group.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back message_group, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link message_group start -->
      <div class="col">
        <%= link_to edit_message_group_url(message_group), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link message_group end -->

      <!-- Delete link message_group start -->
      <div class="col">
        <%= link_to message_group, method: :delete, data: { confirm: "Do you really want to delete this message_group?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link message_group end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(message_group.updated_at) %> ago
  </div>
</div>
