<div class="card mb-3">
  <h2 class="card-header h4">
    Tag #<%= tag.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Photo</dt>
      <!-- Display photo_id start -->
      <dd>
        <% if @tag.photo.present? %>
          <%= link_to tag.photo, tag.photo %>
        <% end %>
      </dd>
      <!-- Display photo_id end -->

      <dt>Tagged</dt>
      <!-- Display tagged_id start -->
      <dd>
        <% if @tag.taggee.present? %>
          <%= link_to tag.taggee, tag.taggee %>
        <% end %>
      </dd>
      <!-- Display tagged_id end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back tag, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link tag start -->
      <div class="col">
        <%= link_to edit_tag_url(tag), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link tag end -->

      <!-- Delete link tag start -->
      <div class="col">
        <%= link_to tag, method: :delete, data: { confirm: "Do you really want to delete this tag?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link tag end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(tag.updated_at) %> ago
  </div>
</div>
