<% was_validated = user_type.errors.any? %>

<%= form_with(model: user_type, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for type_name start -->
  <div class="form-group">
    <% type_name_class = "form-control" %>
    <% type_name_was_invalid = user_type.errors.include?(:type_name) %>

    <% if was_validated %>
      <% if type_name_was_invalid %>
        <% type_name_class << " is-invalid" %>
      <% else %>
        <% type_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :type_name %>
    <!-- Input for type_name start -->
    <%= f.text_field :type_name, class: type_name_class, placeholder: "Enter type name" %>
    <!-- Input for type_name end -->
    <% if type_name_was_invalid %>
      <% user_type.errors.full_messages_for(:type_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for type_name end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
