<%= form_with(model: @budget_line, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :budgeted_amount %>

    <%= f.text_field :budgeted_amount, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :actual_amount %>

    <%= f.text_field :actual_amount, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :notes %>
    <%= f.text_area :notes, rows: "3", class: "form-control" %>
  </div>

  <%= f.hidden_field :budget_type_id, value: @budget_type.id %>

  <%= f.submit "Create budget line", class: "btn btn-block btn-outline-secondary" %>
<% end %>
