<div class="card mb-3">
  <h2 class="card-header h4">
    Budget Type #<%= budget_type.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Type name</dt>
      <dd><%= budget_type.type_name %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back budget_type, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_budget_type_url(budget_type), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to budget_type, method: :delete, data: { confirm: "Do you really want to delete this budget_type?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(budget_type.updated_at) %> ago
  </div>
</div>
