<div class="card mb-3">
  <h2 class="card-header h4">
    Photo #<%= photo.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Upload user</dt>
      <dd>
        <% if @photo.upload_user.present? %>
          <%= link_to photo.upload_user, photo.upload_user %>
        <% end %>
      </dd>

      <dt>Agenda item</dt>
      <dd>
        <% if @photo.agenda_item.present? %>
          <%= link_to photo.agenda_item, photo.agenda_item %>
        <% end %>
      </dd>

      <dt>Photo</dt>
      <dd>
        <%= cl_image_tag @photo.photo, class: "img-fluid" %>
      </dd>

      <dt>Title</dt>
      <dd><%= photo.title %></dd>

      <dt>Description</dt>
      <dd><%= photo.description %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back photo, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_photo_url(photo), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to photo, method: :delete, data: { confirm: "Do you really want to delete this photo?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(photo.updated_at) %> ago
  </div>
</div>
