<% was_validated = photo.errors.any? %>

<%= form_with(model: photo, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for upload_user_id start -->
  <div class="form-group">
    <% upload_user_class = "form-control" %>
    <% upload_user_was_invalid = photo.errors.include?(:upload_user) %>

    <% if was_validated %>
      <% if upload_user_was_invalid %>
        <% upload_user_class << " is-invalid" %>
      <% else %>
        <% upload_user_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :upload_user_id %>
    <!-- Input for upload_user_id start -->
    <%= f.number_field :upload_user_id, class: upload_user_class, placeholder: "Enter upload user" %>
    <!-- Input for upload_user_id end -->
    <% if upload_user_was_invalid %>
      <% photo.errors.full_messages_for(:upload_user).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for upload_user_id end -->
  <!-- Label and input for agenda_item_id start -->
  <div class="form-group">
    <% agenda_item_class = "form-control" %>
    <% agenda_item_was_invalid = photo.errors.include?(:agenda_item) %>

    <% if was_validated %>
      <% if agenda_item_was_invalid %>
        <% agenda_item_class << " is-invalid" %>
      <% else %>
        <% agenda_item_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :agenda_item_id %>
    <!-- Input for agenda_item_id start -->
    <%= f.number_field :agenda_item_id, class: agenda_item_class, placeholder: "Enter agenda item" %>
    <!-- Input for agenda_item_id end -->
    <% if agenda_item_was_invalid %>
      <% photo.errors.full_messages_for(:agenda_item).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for agenda_item_id end -->
  <!-- Label and input for photo start -->
  <div class="form-group">
    <% photo_class = "form-control" %>
    <% photo_was_invalid = photo.errors.include?(:photo) %>

    <% if was_validated %>
      <% if photo_was_invalid %>
        <% photo_class << " is-invalid" %>
      <% else %>
        <% photo_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :photo %>
    <!-- Input for photo start -->
    <%= f.file_field :photo, class: "form-control" %>
    <!-- Input for photo end -->
    <% if photo_was_invalid %>
      <% photo.errors.full_messages_for(:photo).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for photo end -->
  <!-- Label and input for title start -->
  <div class="form-group">
    <% title_class = "form-control" %>
    <% title_was_invalid = photo.errors.include?(:title) %>

    <% if was_validated %>
      <% if title_was_invalid %>
        <% title_class << " is-invalid" %>
      <% else %>
        <% title_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :title %>
    <!-- Input for title start -->
    <%= f.text_field :title, class: title_class, placeholder: "Enter title" %>
    <!-- Input for title end -->
    <% if title_was_invalid %>
      <% photo.errors.full_messages_for(:title).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for title end -->
  <!-- Label and input for description start -->
  <div class="form-group">
    <% description_class = "form-control" %>
    <% description_was_invalid = photo.errors.include?(:description) %>

    <% if was_validated %>
      <% if description_was_invalid %>
        <% description_class << " is-invalid" %>
      <% else %>
        <% description_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :description %>
    <!-- Input for description start -->
    <%= f.text_field :description, class: description_class, placeholder: "Enter description" %>
    <!-- Input for description end -->
    <% if description_was_invalid %>
      <% photo.errors.full_messages_for(:description).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for description end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
