<%= form_with(model: @tag, local: true) do |f| %>

  <%= f.hidden_field :photo_id, value: @photo.id %>

  <div class="form-group">
    <%= f.label :tagged_id %>

    <%= f.collection_select :tagged_id, User.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create tag", class: "btn btn-block btn-outline-secondary" %>
<% end %>
