<%= search_form_for @q, :class => collapse_search_form, :id => "budget_lines_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :budgeted_amount, "Budgeted amount" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :budgeted_amount_gteq, :class => "form-control", :placeholder => "Budgeted amount greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :budgeted_amount_lteq, :class => "form-control", :placeholder => "Budgeted amount less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :notes_cont, "Notes contains" %>
    <%= f.text_field :notes_cont, :class => "form-control", :placeholder => "Notes contains" %>
  </div>

  <div class="form-group">
    <%= f.label :actual_amount, "Actual amount" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :actual_amount_gteq, :class => "form-control", :placeholder => "Actual amount greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :actual_amount_lteq, :class => "form-control", :placeholder => "Actual amount less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :created_at, "Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='created_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Created at greater than or equal to", :data => {:target => '#created_atgteqPicker'} %>
          <div class="input-group-append" data-target='#created_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='created_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Created at less than or equal to", :data => {:target => '#created_atlteqPicker'} %>
          <div class="input-group-append" data-target='#created_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#created_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atgteqPicker').on("dp.change", function (e) {
              $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#created_atlteqPicker').on("dp.change", function (e) {
              $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <div class="form-group">
    <%= f.label :start_time, "AgendaItem Start time" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='itinerariesgteqstart_timePicker' data-target-input="nearest">
          <%= f.text_field :itineraries_start_time_gteq, :class => "form-control datetimepicker-input", :placeholder => "AgendaItem Start time greater than or equal to", :data => {:target => '#itinerariesgteqstart_timePicker'} %>
          <div class="input-group-append" data-target='#itinerariesgteqstart_timePicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='itinerarieslteqstart_timePicker' data-target-input="nearest">
          <%= f.text_field :itineraries_start_time_lteq, :class => "form-control datetimepicker-input", :placeholder => "AgendaItem Start time less than or equal to", :data => {:target => '#itinerarieslteqstart_timePicker'} %>
          <div class="input-group-append" data-target='#itinerarieslteqstart_timePicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#itinerariesgteqstart_timePicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#itinerarieslteqstart_timePicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#itinerariesgteqstart_timePicker').on("dp.change", function (e) {
              $('#itinerarieslteqstart_timePicker').data("DateTimePicker").minDate(e.date);
          });
          $('#itinerarieslteqstart_timePicker').on("dp.change", function (e) {
              $('#itinerariesgteqstart_timePicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>

  <div class="form-group">
    <%= f.label :budget_type_type_name_cont, "Budget type type_name contains" %>
    <%= f.text_field :budget_type_type_name_cont, :class => "form-control", :placeholder => "Budget type type_name contains" %>
  </div>


  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/budget_lines" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#budget_lines_filters">
  Show filters
</a>
